

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 1400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 

.bus-card {
  width: 100%;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bus-details {
  flex: 1;
  padding: 20px;
}

.bus-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.bus-route {
  color: #868e96;
<<<<<<< HEAD
  margin-bottom: 15px;
}

.bus-time {
  margin-bottom: 15px;
=======
  margin-bottom: 10px;
}

.bus-time {
  margin-bottom: 10px;
>>>>>>> f9cc5f809a1e81f526608b318e85767bf8c1458d
}

.bus-available-days {
  color: #495057;
  margin-bottom: 10px;
}

.bus-btn {
   display: flex; 
        justify-content: center; 
        align-items: center; 
  
  padding: 10px;
  text-align: center;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius:0 5px 5px 0 ;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bus-btn:hover {
  background-color: #970b0b;
}